// Site settings
@mixin siteHorizontalPadding {
    padding-right: 20px;
    padding-left: 20px;
}
@mixin defaultBtn {
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-family: 'gilroymedium', sans-serif;
    &:focus {
        outline: none;
        border: none;
    }
}

/* Media Queries */ 
@mixin forBreakpoint($breakpoints) {
    $conditions : ();
    @each $breakpoint in $breakpoints {
        // If the key exists in the map
        $conditions: append(
            $conditions,
            #{inspect(map-get($mediaQueries, $breakpoint))},
            comma
        );
    }

    @media #{$conditions} {
        @content;
    }
}
