<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <module href="/components/global/head.html"></module>
        <title>GRIT Test Site</title>
        <meta name="description" content="Will's GRIT test website build!"/>
        <meta name="theme-color" content="#28292E"/>
        <meta name="author" content="William Yallop"/>
        <link rel="icon" type="image/x-icon" href="favicon.ico"/>
        <meta name="robots" content="index, follow"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="GRIT Test Site"/>
        <meta property="og:description" content="Will's GRIT test website build!"/>
        <meta property="og:site_name" content="GRIT Test Site"/>
        <link preload rel="stylesheet" type="text/css"  href="css/pages/index/aboveFold.css"/>
    </head>

    <body>
        <!-- Header -->
        <module href="/components/global/header.html"></module>
        <module href="/components/global/mobileNavigation.html"></module>
        <div class="pageCon">
            <!-- Banner -->
            <module href="/components/index/banner.html"></module>
            <!-- Main Section -->
            <module href="/components/index/infoSection.html"></module>
            <!-- Newsletter Form -->
            <module href="/components/global/newsletterSignup.html"></module>
            <!-- Footer -->
            <module href="/components/global/footer.html"></module>
        </div>

        <!-- Main Script -->
        <script src="bundle.js" defer async></script>
    </body>
</html>