.footerCon {
    width: 100%;
    padding: 150px 0;
    .wrapper {
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 1100px) {
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        .footerLeft {
            min-width: 340px;
            width: 20%;
            h2 {
                font-size: 18px;
                color: #fff;
                margin-bottom: 40px;
                font-family: 'gilroybold', sans-serif;
            }
            p {
                font-size: 16px;
                color: #fff;
            }
            @media only screen and (max-width: 1100px) {
                width: 100%;
                min-width: auto;
            }
        }
        .footerRight {
            width: 50%;
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            @media only screen and (max-width: 1100px) {
                border-top: 1px solid $background4;
                padding-top: 40px;
                width: 100%;
                margin-top: 40px;
                justify-content: space-between;
            }
            @media only screen and (max-width: 600px) {
                flex-wrap: wrap;
            }
            .col {
                @media only screen and (max-width: 600px) {
                    width: 100%;
                    &:last-child {
                        margin-top: 40px;
                        padding-top: 40px;
                        border-top: 1px solid $background4;
                    }
                }
                .contactP {
                    color: #fff;
                    font-size: 16px;
                    font-weight: 500;
                    display: flex;
                    transition: 0.3s;
                    text-decoration: none;
                    @media only screen and (max-width: 600px) {
                        margin-bottom: 20px;
                    }
                    .listIcon {
                        margin-right: 10px;
                        width: 20px;
                        img {
                            width: 20px;
                        }
                    }
                    margin-bottom: 40px;
                    &:hover {
                        color: $accent1;
                        text-decoration: underline;
                    }
                }
                .linkBtnCon {
                    width: 100%;
                    .footerBtn {
                        width: 50px;
                        height: 50px;
                        background-color: $background2;
                        border: 2px solid #fff;
                        border-radius: 50%;
                        margin-right: 10px;
                        .footerBtnImg {
                            height: 15px;
                        }
                        transition: 0.3s;
                        cursor: pointer;
                        &:last-child {
                            margin-right: 0;
                        }
                        &:hover {
                            background-color: $accent1;
                            color: #fff;
                        }
                    }
                }
                &.linkColCon {
                    display: flex;
                    .linkCol {
                        width: 50%;
                        display: flex;
                        padding: 0 20px;
                        @media only screen and (max-width: 600px) {
                            &:first-child {
                                padding-left: 0;
                            }
                            &:last-child {
                                padding-right: 0;
                            }
                        }
                        flex-direction: column;
                        a {
                            font-size: 18px;
                            color: #fff;
                            font-weight: 500;
                            text-decoration: none;
                            padding: 10px 0;
                            transition: 0.3s;
                            &:first-child {
                                padding-top: 0;
                            }
                            &:hover {
                                color: $accent1;
                                text-decoration: underline;
                            }
                        }
                    }
                }
                
            }
        }
    }
}