<footer class="footerCon">
    <div class="wrapper">

      
        <div class="footerLeft">
            <h2>Sollicitudin Elementum</h2>
            <p>Aliquam maximus eros condimentum tortor dapibus faucibus.<br><br>Aliquam sed urna ullamcorper, tincidunt risus vel, ullamcorper elit.</p>
        </div>


        <div class="footerRight"> 
            <div class="col linkColCon">
                <div class="linkCol">
                    <a href="/">Vivamus</a>
                    <a href="/">Donec</a>
                    <a href="/">Aliquam</a>
                </div>
                <div class="linkCol">
                    <a href="/">Tincidunt</a>
                    <a href="/">Vestibulum</a>
                    <a href="/">Suscipit</a>
                    <a href="/">Tempor</a>
                </div>
            </div>
            <div class="col">
                <a class="contactP" href="tel:07027989984"><div class="listIcon"><img src="images/phoneIcon.svg" alt="Call us now!"></div>070 2798 9984</a>
                <a class="contactP" href="mailto:pharetra@purus.com"><div class="listIcon"><img src="images/emailIcon.svg" alt="Email us now!"></div>pharetra@purus.com</a>
                <div class="linkBtnCon">
                    <button class="footerBtn"><img class="footerBtnImg" src="images/linkedInIcon.svg" alt="LinkedIn"></button>
                    <button class="footerBtn"><img class="footerBtnImg" src="images/twitterIcon.svg" alt="Twitter"></button>
                    <button class="footerBtn"><img class="footerBtnImg" src="images/facebookIcon.svg" alt="Facebook"></button>
                </div>
            </div>
        </div>

     

    </div>
</footer>