<header id="headerCon" class="headerCon">
    <!-- Desktop Nav -->
    <nav class="navCon wrapper"> 

        <div class="navLinkCon">
            <a href="/" class="navLink">Fames</a>
            <a href="/" class="navLink">Scelerisque</a>
            <a href="/" class="navLink">Amet</a>
            <a href="/" class="navLink">Viverra</a>
        </div>


        <div class="navCenterCon">
            <a href="/" class="siteLogo"> 
                <picture class="siteLogo">
                    <source srcset="images/Logo.webp" type="image/webp"/>
                    <source srcset="images/Logo.png" type="image/png"/>
                    <img loading=lazy src="images/Logo.png" alt="Grit Test Site"/>
                </picture>
            </a>
        </div>
        
        <div class="navLinkCon">
            <a href="/" class="navLink">Aliquam</a>
            <a href="/" class="navLink">Vestibulum</a>
            <a href="/" class="navLink">Eros</a>
            <button class="navBtn">Nunc</button>
        </div>

    </nav>
    <!-- Mobile Header -->
    <div class="mobHeaderWrapper wrapper">
        <a href="/" class="siteLogo"> 
            <picture class="siteLogo">
                <source srcset="images/Logo.webp" type="image/webp"/>
                <source srcset="images/Logo.png" type="image/png"/>
                <img loading=lazy src="images/Logo.png" alt="Grit Test Site"/>
            </picture>
        </a>
        <div class="btnCon">
            <button class="navBtn semibold">Nunc</button>
            <button id="toggleNavBtn" class="toggleNavBtn"><img src="images/hamburger.svg" alt="Open Navigation Bar"></button>
        </div>
    </div>
</header> 