<div id="mobileNavCon" class="mobileNavCon">
    <nav class="navCon">
        <a href="/">Fames <div class="underline"></div></a>
        <a href="/">Scelerisque<div class="underline"></div></a>
        <a href="/">Amet<div class="underline"></div></a>
        <a href="/">Viverra<div class="underline"></div></a>
        <a href="/">Aliquam<div class="underline"></div></a>
        <a href="/">Vestibulum<div class="underline"></div></a>
        <a href="/">Eros<div class="underline"></div></a>
    </nav>
</div>