<div class="newsletterCon">
    <div class="wrapper">
        <div class="newsletterContentCon">

            <!-- Info Col -->
            <div class="col">
                <div class="infoHeadCon">
                    <div class="infoIconCon"><p>FOR</p></div>
                    <h2>Don't miss out</h2>
                </div>
                <p class="infoBodyP">Integer sed dignissim ipsum. Nulla risus est, dignissim vel dapibus sagittis, aliquet sed ex. Etiam cursus ornare.</p>
            </div>

            <!-- Form Col -->
            <div class="col">
                <form id="newsletterForm" class="newsletterForm">
                    <label for="nameInp">name</label>
                    <input id="nameInp" type="text" class="inputStyle" name="name_sf">
                    <label for="emailInp">email</label>
                    <input id="emailInp" type="text" class="inputStyle" name="email_sf">
                    <label for="checkboxInp" class="checkboxLabel">
                        <input type="checkbox" class="checkboxInpStyle" name="checkbox_sf" id="checkboxInp">
                        <p>I am happy to receive marketing emails!</p>
                    </label>
                    <p class="responseMsgP" id="responseMsgP"></p>
                    <button class="subscibeBtn" type="submit">Subscribe</button>
                </form>
            </div>

            <div class="elementSlit"></div>
        </div>
    </div>
</div>