<div class="bannerCon">
    <div class="wrapper">

        <!--  Img shape 1 -->
        <div class="imgShape1">
            <div class="imgCon">
                <picture>
                    <source srcset="images/banImg1.webp" type="image/webp"/>
                    <source srcset="images/banImg1.png" type="image/png"/>
                    <img src="images/banImg1.png" alt="Banner Image 1"/>
                </picture>
            </div>
        </div>

        <!-- textarea -->
        <div class="bannerCol1">
            <h1>Quisque vel elit feugiat, scelerisque gravida</h1>
            <p class="bannerBodyP medium">Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin hendrerit sollicitudin quam nec elementum. Integer ac urna massa. Suspendisse pharetra ac arcu quis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.</p>
        </div>
        <div class="bannerCol2">
            <!-- Img shape 2  -->
            <div class="imgShape2">
                <div class="imgCon">
                    <picture>
                        <source srcset="images/banImg2.webp" type="image/webp"/>
                        <source srcset="images/banImg2.png" type="image/png"/>
                        <img loading=lazy src="images/banImg2.png" alt="Banner Image 2"/>
                    </picture>
                </div>
            </div>
        </div>

    </div>
    <div class="bannerBg">
        <img src="images/gritGBg.svg" alt="GRIT G">
    </div>
</div>