<div class="infoSecCon">
    <div class="wrapper">

        <!-- Img -->
        <div class="imgRow">
            <picture>
                <source srcset="images/infoSectImg.webp" type="image/webp"/>
                <source srcset="images/infoSectImg.png" type="image/png"/>
                <img loading=lazy src="images/infoSectImg.png" alt="Info Image"/>
            </picture>
            <div class="triangleCol firstTri"></div>
            <div class="triangleCol lastTri"></div>
        </div>

        <!-- Content -->
        <div class="infoColCon">
            <!-- Col 1 -->
            <div class="col">
                <div class="colTopSect">
                    <div class="infoHeadCon">
                        <div class="infoIconCon"><p>FOR</p></div>
                        <h2>Consectetur</h2>
                    </div>
                    <p class="infoBodyP">Integer sed dignissim ipsum. Nulla risus est, dignissim vel dapibus sagittis, aliquet sed ex. Etiam cursus ornare placerat. Nulla et nibh vitae nibh vehicula interdum. </p>
                    <h3>scelerisque tempor</h3>
                    <ul class="listCon">
                        <li><img src="images/listIcon.svg" alt="List Icon"><div class="textarea">Aliquam</div></li>
                        <li><img src="images/listIcon.svg" alt="List Icon"><div class="textarea">Tincidunt</div></li>
                        <li><img src="images/listIcon.svg" alt="List Icon"><div class="textarea">Proin quis</div></li>
                        <li><img src="images/listIcon.svg" alt="List Icon"><div class="textarea">Pharetra purus</div></li>
                        <li><img src="images/listIcon.svg" alt="List Icon"><div class="textarea">Etiam a orci vel magna auctor</div></li>
                        <li><img src="images/listIcon.svg" alt="List Icon"><div class="textarea">Ullamcorper</div></li>
                        <li><img src="images/listIcon.svg" alt="List Icon"><div class="textarea">Nam eleifend</div></li>
                        <li><img src="images/listIcon.svg" alt="List Icon"><div class="textarea">Elementum</div></li>
                    </ul>
                </div>

                <button class="colBtn">Ut viverra urna id pulvinar</button>
            </div>
            <!-- Col 2 -->
            <div class="mobileColTriangle"></div>
            <div class="col">
                <div class="colTopSect">
                    <div class="infoHeadCon">
                        <div class="infoIconCon"><p>FOR</p></div>
                        <h2>Senectus</h2>
                    </div>
                    <p class="infoBodyP">Integer sed dignissim ipsum. Nulla risus est, dignissim vel dapibus sagittis, aliquet sed ex. Etiam cursus ornare placerat. Nulla et nibh vitae nibh vehicula interdum. </p>
                    <h3>scelerisque tempor</h3>
                    <ul class="listCon">
                        <li><img src="images/listIcon.svg" alt="List Icon"><div class="textarea">Maecenas</div></li>
                        <li><img src="images/listIcon.svg" alt="List Icon"><div class="textarea">Curabitur</div></li>
                        <li><img src="images/listIcon.svg" alt="List Icon"><div class="textarea">Duis laoreet</div></li>
                        <li><img src="images/listIcon.svg" alt="List Icon"><div class="textarea">Nunc</div></li>
                    </ul>
                </div>
                <button class="colBtn">Ut viverra urna id pulvinar</button>
            </div>
        </div>

    </div>
</div>